<a href="https://colab.research.google.com/github/edmgjr/portifolio/blob/main/Analise_Explorat%C3%B3ria_Pre%C3%A7os_combustiveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Pacotes usados neste Notebook

In [ ]:
#importando pacotes
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

#1.Dataset

Dataset: Gas Prices in Brazil: https://www.kaggle.com/matheusfreitag/gas-prices-in-brazil

Este dataset contém os registros dos preços médios semanais dos combustíveis do Brasil entre os anos de 2004 e 2019.
Cada observação (registro/linha) consiste em um registro de preço aferido para um dado tipo de combustível em uma dada localidade do Brasil.
Alguns dos principais atributos (colunas) do dataset são: 'ESTADO', 'PRODUTO', 'NÚMERO DE POSTOS PESQUISADOS', 'PREÇO MÉDIO REVENDA'.

O dataset utilizado neste notebook já foi pré-processado anteriormente.

##1.1. Importando o Dataset

In [ ]:
! pip install -q kaggle
from google.colab import files
files.upload()
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
!kaggle datasets download -d matheusfreitag/gas-prices-in-brazil

Downloading gas-prices-in-brazil.zip to /content
  0% 0.00/3.15M [00:00<?, ?B/s]
100% 3.15M/3.15M [00:00<00:00, 104MB/s]

In [10]:
! unzip gas-prices-in-brazil.zip

Archive:  gas-prices-in-brazil.zip
  inflating: 2004-2019.tsv

In [13]:
data = pd.read_csv('/content/2004-2019.tsv', sep='\t')

In [17]:
data = data.drop(columns='Unnamed: 0')
data

       DATA INICIAL  DATA FINAL  ... MÊS   ANO
0        2004-05-09  2004-05-15  ...   5  2004
1        2004-05-09  2004-05-15  ...   5  2004
2        2004-05-09  2004-05-15  ...   5  2004
3        2004-05-09  2004-05-15  ...   5  2004
4        2004-05-09  2004-05-15  ...   5  2004
...             ...         ...  ...  ..   ...
106818   2019-06-23  2019-06-29  ...   6  2019
106819   2019-06-23  2019-06-29  ...   6  2019
106820   2019-06-23  2019-06-29  ...   6  2019
106821   2019-06-23  2019-06-29  ...   6  2019
106822   2019-06-23  2019-06-29  ...   6  2019

[106823 rows x 20 columns]

##1.2. Conversão de tipos de atributos

In [ ]:
data_pre.info()

In [19]:
data_pre = data.copy()

 **Datas**

Convertendo para o formato datetime

In [23]:
data_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  datetime64[ns]
 1   DATA FINAL                     106823 non-null  datetime64[ns]
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           106823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(3), object(10)
memory usage: 16.3+ MB

In [21]:
data_pre['DATA INICIAL'] = pd.to_datetime(data_pre['DATA INICIAL'])
data_pre['DATA FINAL'] = pd.to_datetime(data_pre['DATA FINAL'])

**Dados númericos**

Convertendo atributos para 'numeric'

In [27]:
for atributo in ['MARGEM MÉDIA REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO', 'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO', 'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO']:
  data_pre[atributo] = pd.to_numeric(data_pre[atributo], errors='coerce') #Em caso de erro na conversão (p. ex., uma string que não representa um número), um valor vazio (null / NaN) será atribuido no lugar

In [28]:
data_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  datetime64[ns]
 1   DATA FINAL                     106823 non-null  datetime64[ns]
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           103392 non-null  float64
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       103423 non-null  float64
 14  DESVIO PADRÃO DISTRIBUIÇÃO     103423 non-null  float64
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      103423 non-null  float64
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      103423 non-null  float64
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  103423 non-null  float64
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: datetime64[ns](2), float64(11), int64(3), object(4)
memory usage: 16.3+ MB

##1.3. Limpeza de dados

In [30]:
mask = data_pre['PREÇO MÉDIO DISTRIBUIÇÃO'].isnull()

In [31]:
data_pre[mask]

       DATA INICIAL DATA FINAL  ... MÊS   ANO
1903     2005-09-25 2005-10-01  ...   9  2005
1958     2005-10-09 2005-10-15  ...  10  2005
2012     2005-10-23 2005-10-29  ...  10  2005
2497     2006-02-26 2006-03-04  ...   2  2006
3199     2006-08-27 2006-09-02  ...   8  2006
...             ...        ...  ...  ..   ...
106664   2019-06-16 2019-06-22  ...   6  2019
106666   2019-06-16 2019-06-22  ...   6  2019
106811   2019-06-23 2019-06-29  ...   6  2019
106813   2019-06-23 2019-06-29  ...   6  2019
106815   2019-06-23 2019-06-29  ...   6  2019

[3400 rows x 20 columns]

In [32]:
data[mask]

       DATA INICIAL  DATA FINAL  ... MÊS   ANO
1903     2005-09-25  2005-10-01  ...   9  2005
1958     2005-10-09  2005-10-15  ...  10  2005
2012     2005-10-23  2005-10-29  ...  10  2005
2497     2006-02-26  2006-03-04  ...   2  2006
3199     2006-08-27  2006-09-02  ...   8  2006
...             ...         ...  ...  ..   ...
106664   2019-06-16  2019-06-22  ...   6  2019
106666   2019-06-16  2019-06-22  ...   6  2019
106811   2019-06-23  2019-06-29  ...   6  2019
106813   2019-06-23  2019-06-29  ...   6  2019
106815   2019-06-23  2019-06-29  ...   6  2019

[3400 rows x 20 columns]

Nos dados originais os valores nulos eram hífens "-"

In [34]:
data_pre_fill = data_pre.fillna(0) #Substituindo valores nulos por 0
data_pre_fill

       DATA INICIAL DATA FINAL  ... MÊS   ANO
0        2004-05-09 2004-05-15  ...   5  2004
1        2004-05-09 2004-05-15  ...   5  2004
2        2004-05-09 2004-05-15  ...   5  2004
3        2004-05-09 2004-05-15  ...   5  2004
4        2004-05-09 2004-05-15  ...   5  2004
...             ...        ...  ...  ..   ...
106818   2019-06-23 2019-06-29  ...   6  2019
106819   2019-06-23 2019-06-29  ...   6  2019
106820   2019-06-23 2019-06-29  ...   6  2019
106821   2019-06-23 2019-06-29  ...   6  2019
106822   2019-06-23 2019-06-29  ...   6  2019

[106823 rows x 20 columns]

In [35]:
data_pre_fill[mask]

       DATA INICIAL DATA FINAL  ... MÊS   ANO
1903     2005-09-25 2005-10-01  ...   9  2005
1958     2005-10-09 2005-10-15  ...  10  2005
2012     2005-10-23 2005-10-29  ...  10  2005
2497     2006-02-26 2006-03-04  ...   2  2006
3199     2006-08-27 2006-09-02  ...   8  2006
...             ...        ...  ...  ..   ...
106664   2019-06-16 2019-06-22  ...   6  2019
106666   2019-06-16 2019-06-22  ...   6  2019
106811   2019-06-23 2019-06-29  ...   6  2019
106813   2019-06-23 2019-06-29  ...   6  2019
106815   2019-06-23 2019-06-29  ...   6  2019

[3400 rows x 20 columns]

In [36]:
data_pre_fill = data_pre.fillna(value={
    'MARGEM MÉDIA REVENDA': 10, 
    'PREÇO MÉDIO DISTRIBUIÇÃO': 20, 
    'DESVIO PADRÃO DISTRIBUIÇÃO': 30, 
    'PREÇO MÍNIMO DISTRIBUIÇÃO': 40, 
    'PREÇO MÁXIMO DISTRIBUIÇÃO': 50, 
    'COEF DE VARIAÇÃO DISTRIBUIÇÃO': 'vazio'
}) #Substituindo valores nulos por valores personalizados
data_pre_fill

       DATA INICIAL DATA FINAL  ... MÊS   ANO
0        2004-05-09 2004-05-15  ...   5  2004
1        2004-05-09 2004-05-15  ...   5  2004
2        2004-05-09 2004-05-15  ...   5  2004
3        2004-05-09 2004-05-15  ...   5  2004
4        2004-05-09 2004-05-15  ...   5  2004
...             ...        ...  ...  ..   ...
106818   2019-06-23 2019-06-29  ...   6  2019
106819   2019-06-23 2019-06-29  ...   6  2019
106820   2019-06-23 2019-06-29  ...   6  2019
106821   2019-06-23 2019-06-29  ...   6  2019
106822   2019-06-23 2019-06-29  ...   6  2019

[106823 rows x 20 columns]

In [37]:
data_pre_fill[mask]

       DATA INICIAL DATA FINAL  ... MÊS   ANO
1903     2005-09-25 2005-10-01  ...   9  2005
1958     2005-10-09 2005-10-15  ...  10  2005
2012     2005-10-23 2005-10-29  ...  10  2005
2497     2006-02-26 2006-03-04  ...   2  2006
3199     2006-08-27 2006-09-02  ...   8  2006
...             ...        ...  ...  ..   ...
106664   2019-06-16 2019-06-22  ...   6  2019
106666   2019-06-16 2019-06-22  ...   6  2019
106811   2019-06-23 2019-06-29  ...   6  2019
106813   2019-06-23 2019-06-29  ...   6  2019
106815   2019-06-23 2019-06-29  ...   6  2019

[3400 rows x 20 columns]

A fim de não ter valores sintéticos gerados pelo `fillna`, que possam atrapalhar a análise, será removido (`dropna`) todas as amostras que possuem qualquer valor **NaN** para quaisquer atributos/colunas.

In [38]:
data_pre.dropna(inplace=True)

In [39]:
data_pre[mask]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [DATA INICIAL, DATA FINAL, REGIÃO, ESTADO, PRODUTO, NÚMERO DE POSTOS PESQUISADOS, UNIDADE DE MEDIDA, PREÇO MÉDIO REVENDA, DESVIO PADRÃO REVENDA, PREÇO MÍNIMO REVENDA, PREÇO MÁXIMO REVENDA, MARGEM MÉDIA REVENDA, COEF DE VARIAÇÃO REVENDA, PREÇO MÉDIO DISTRIBUIÇÃO, DESVIO PADRÃO DISTRIBUIÇÃO, PREÇO MÍNIMO DISTRIBUIÇÃO, PREÇO MÁXIMO DISTRIBUIÇÃO, COEF DE VARIAÇÃO DISTRIBUIÇÃO, MÊS, ANO]
Index: []

In [40]:
data_pre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103392 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   103392 non-null  datetime64[ns]
 1   DATA FINAL                     103392 non-null  datetime64[ns]
 2   REGIÃO                         103392 non-null  object
 3   ESTADO                         103392 non-null  object
 4   PRODUTO                        103392 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   103392 non-null  int64
 6   UNIDADE DE MEDIDA              103392 non-null  object
 7   PREÇO MÉDIO REVENDA            103392 non-null  float64
 8   DESVIO PADRÃO REVENDA          103392 non-null  float64
 9   PREÇO MÍNIMO REVENDA           103392 non-null  float64
 10  PREÇO MÁXIMO REVENDA           103392 non-null  float64
 11  MARGEM MÉDIA REVENDA           103392 non-null  float64
 12  COEF DE VARIAÇÃO REVENDA       103392 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       103392 non-null  float64
 14  DESVIO PADRÃO DISTRIBUIÇÃO     103392 non-null  float64
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      103392 non-null  float64
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      103392 non-null  float64
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  103392 non-null  float64
 18  MÊS                            103392 non-null  int64
 19  ANO                            103392 non-null  int64
dtypes: datetime64[ns](2), float64(11), int64(3), object(4)
memory usage: 16.6+ MB